@import url('https://fonts.googleapis.com/css?family=Poor+Story');


body {
	background: white;
	font-family: 'Poor Story', cursive;
	color: #009688;
	font-size: 110%;
	margin: 0;
	font-size: 150%;
}

main {
	max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
	width: 100%;
}

hr {
    display: block;
    border: 0px;
    height: 50px;
    background-image: url(../img/pattern.png);
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}

a, a:link, a:visited {
    color: #a7dcd2;
}

form {
	text-align: center;
}

label {
    min-width: 200px;
    display: inline-block;
    text-align: left;
}

input {
    width: 200px;
    border: none;
    background-color: #f0f8ff;
    padding: 3px 5px;
    margin: 5px;
    font-family: 'Poor Story', cursive;
    font-size: 80%;
    color: #009688;
}

button {
	border: none;
    padding: 5px 40px;
    font-family: 'Poor Story', cursive;
    font-size: 80%;
    color: #f0f8ff;
    background: #009688;
    margin-top: 15px;
}

table {
	width: 100%;
    text-align: center;
}

.image-wrapper {
	text-align: center;
}

#torch {
	height: 290px;
}

#coins {
	height: 150px
}
